.foto_personal{
    width: 40%;
    border-radius: 50%;
}

.barra_superior{
    margin-top: 15px;
}

.barra_superior p{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

.bi{
    font-size: 25px;
}

.contenedor_nombre{
    padding-top: 25px;
}

.contenedor_principal{
    margin: 10px;
    padding: 10px;
}

.descripcion{
    margin: 10px;
    padding: 10px;
}

.descripcion h5 {
    font-weight: bold;
}
.text_descripcion{
    word-break: normal;
    overflow-wrap: break-word;
    text-align: justify;
}

.text_exp{
    margin: 10px;
    padding: 10px;
    word-break: normal;
    overflow-wrap: break-word;
    text-align: left;
}

.text_exp h5{
    font-weight: bold;
}
